[submodule "py_ppl/sciebo_fetch"]
	path = py_ppl/sciebo_fetch
	url = https://github.com/byteOfWisdom/sciebo_fetch
[submodule "pulse_plotting/sciebo_fetch"]
	path = pulse_plotting/sciebo_fetch
	url = https://github.com/byteOfWisdom/sciebo_fetch
